#hd h1,
#hd .iconMenu {
  width: 0;
}
#hd a {
  color: black;
  text-decoration: none;
}
#hd h1 a {
  white-space: nowrap;
}
#hd .gnb .gnb_li:hover .gnb_a {
  color: red;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 180px;
  border-bottom-width: 1px;
  border-radius: 0 0 30px 30px;
  transition: max-height 0.5s ease-in-out, border-bottom-width 0.5s ease-in-out, border-radius 0.5s ease-in-out 0.3s;
}
#hd .gnb .gnb_a {
  font-size: 1.2rem;
}
#hd .gnb .gnb_ul {
  min-width: 10rem;
  background-color: white;
  margin-top: -1px;
  border: solid #ccc;
  border-top: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  overflow: hidden;
  transform: translateX(-50%);
  left: 50%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, border-bottom-width 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  transition-delay: 0.3s;
}
#hd .gnb .gnb_ul:after, #hd .gnb .gnb_ul:before {
  content: "";
  display: block;
  height: 1rem;
}
#hd .gnb .gnb_ul:after {
  border-bottom: 1px none;
}
#hd .iconMenu i {
  white-space: nowrap;
}