

// .inner{
//     max-width: 1440px;
//     margin: 0 auto;

// }

// .mr-auto{
//     margin-right: auto;
// }

// .d-flex{
//     display: flex;


// }

// .text-gray{
//     color: #666;


// }

// .bg-gray{
//     background-color: #ccc;

// }

// .round50{
//     border-radius: 50px;

// }

// .sr_only{
//     position: absolute;
//     width: 0;
//     height: 0;
//     overflow: hidden;
//     opacity: 0;

// }

.gnb{
    a:hover{
        color: red !important;
    }

    &:hover{
        ul{
            height: 180px;
        }
        
        li:hover{
            a{
                color: red;
            }
        }
        
    }

    ul{
        top: 100%;
        min-width:120px;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }
}